[Unit]
Description=Mopidy music server
After=avahi-daemon.service
After=dbus.service
After=pulseaudio.service
After=sound.target

[Service]
ExecStart=/usr/bin/python2 /usr/bin/mopidy
ExecStop=/home/elomatreb/.bin/mopidy-cli pause
ExecStop=/usr/bin/kill $MAINPID

[Install]
WantedBy=window-manager.target
