[Unit]
Description=Polybar status bar '%I'
After=pulseaudio.service
After=mopidy.service

[Service]
#Environment="MONITOR_PRIMARY="
#Environment="MONITOR_SECONDARY="
#Environment="INTERFACE_ETH="
#Environment="INTERFACE_WLAN="
#Environment="MPD_HOST=/path/to/mpd/socket"
ExecStart=/usr/bin/polybar %i
Restart=on-failure

[Install]
WantedBy=window-manager.target
