! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! Adapted from Solarized
*color0:  #002b36
*color1:  #dc322f
*color2:  #859900
*color3:  #b58900
*color4:  #268bd2
*color5:  #6c71c4
*color6:  #2aa198
*color7:  #93a1a1
*color8:  #657b83
*color9:  #dc322f
*color10: #859900
*color11: #b58900
*color12: #268bd2
*color13: #6c71c4
*color14: #2aa198
*color15: #fdf6e3

Xcursor.theme: OpenZone_White
Xcursor.size:                     0

URxvt.depth:                      32
URxvt.background:                 [98]#000000
URxvt.font:                       xft:Fantasque Sans Mono:size=12,xft:Symbola:size=12
URxvt.internalBorder:             1
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*background:                 black
URxvt*foreground:                 grey
URxvt*saveLines:                  5000
URxvt*cursorColor:                #60ac39
URxvt*lineSpace:                  4
URxvt*urgentOnBell:               true


! Clickable URLS
URxvt.perl-ext-common:            default,matcher
URxvt.url-launcher:               /usr/bin/xdg-open
URxvt.matcher.button:             1

! Disable due to clashing with my other key shortcuts
URxvt.iso14755:                   false
URxvt.iso14755_52:                false
